body {
    background-color: rgb(224, 98, 255);
}
h1 {
    color: aliceblue;
    font-style: italic;
    font-size: 30px;
    text-align: center;
}
h2 {
    color: blueviolet;
    text-align: center;
}
h3 {
    color: aquamarine;
}
p {
    text-align: center;
    color: chartreuse;
}
header {
    display: flex;
    justify-content: center;
    border-bottom: solid 3px rgb(0, 126, 236);
    padding-bottom: 3px;
    font-size: 20px;
}
.rick {
    margin-right: 5px;
}
.rock {
    margin-right: 5px;
}
.reck {
    margin-right: 5px;
}
.pastel {
    width: 200px;
}
.pizza {
    width: 300px;
}